<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3><%= data[0].Created_at %></h3>
    <% for(var i = 0; i < data.length; i++) { %>
    <p>tên:<%= data[i].cat %> --- loại: <%= data[i].subcat %> --<%= data[i].Name1 %></p>
    <p>số lượng: <%= data[i].Quantity %></p>
    <p>Giá : <%= data[i].Prices %></p>
        <div>////////////////////////////////////</div>
      <% } %> 


      <div>
        <p>/////////</p>
        <p>/////////</p>
        <p>/////////</p>
      </div>
      <!-- <p>Tổng tiền:<%= data.Price %> đ</p> -->
      <!-- <p>Voucher:<%= data.Voucher %> đ</p>
      <p>VOucher shop: <%= data.Voucher_shop %> đ</p> -->
      <p>Trạng thái: <%= data[0].sname %></p>
      <p>đơn vị vận chuyển: <%= data[0].trans %> đ</p>
      <p>Phí vận chuyển: <%= data[0].price_trans %> đ</p>
      <p>Thành tiền: <%= data[0].Price %> đ</p>
      <% if(data[0].Status == 5){ %>
        <form action="/seller/purchase/acp" method="post">
          <input type="text" hidden="true" value="<%= data[0].Purchase_id %>" name="purchase">
          <button type="submit">Duyệt</button>
        </form>
      <% } else if(data[0].Status ==3){%>
        <form action="/seller/purchase/acp" method="post">
          <input type="text" hidden="true" value="<%= data[0].Purchase_id %>" name="purchase">
          <button type="submit">Hủy đơn hàng</button>
        </form>
      <% }%>
     
</body>
</html>