<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>đơn hàng <%= status %></h1>
    <% for(var i = 0; i < data.length; i++) { %>
        <li><a href="/seller/purchase/<%= data[i].Purchase_id %>">thời gian: <%= data[i].Created_at %></a></li>
         <!-- trạng thái : <%= data[i].sname %> -->
        <li>giá: <%= data[i].Price %></li>
        <div>////////////////////////////////////</div>
      <% } %> 
</body>
</html>