<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% for(var i = 0; i < data.length; i++) { %>
        <li><%= data[i].pname %></li>
        <li>Phân loại: <%= data[i].Name %> ---- <%= data[i].cname %></li>
        <li>số lượng: <%= data[i].num %></li>
        <li>giá: <%= data[i].Prices %></li>
        <li>tổng tiền: <%= data[i].Prices * data[i].num%></li>
        <div>////////////////////////////////////</div>
      <% } %> 

      <form action="/pay/test" method="post">
         <input type="text" name="money" value="1234567">
         <button type="submit">pay</button>
      </form>
</body>
</html>