<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% for(var i = 0; i < data.length; i++) { %>
        <div id="product">
            <input type="checkbox" onchange="resetpoduct(this)" value="<%= data[i].cart_id %>">
            <li><%= data[i].pname %></li>
            <li>Phân loại: <%= data[i].Name %> ---- <%= data[i].cname %></li>
            <li>số lượng: <%= data[i].num %></li>
            <li>giá: <%= data[i].Prices %></li>
            <li>tổng tiền: <%= data[i].Prices * data[i].num%></li>
        </div>
        <div>////////////////////////////////////</div>
      <% } %> 

      <form action="/pay/payment" method="post">
        <input type="text" name="name" id="123" value="1">
  
        <button type="submit">pay</button>
     </form>

     <script>
        var arr =[]
        function resetpoduct(node){
            // console.log(node.parentElement)
            if(node.checked ==true){
                console.log("true")
                arr.push(node.value)
                console.log(arr)
            }else{
                console.log("false")
                arr = arr.filter(function(item) {return item !== node.value})
                console.log(arr)
            }
            document.getElementById("123").value = arr
        }
     </script>
</body>
</html> -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <title>Giỏ hàng</title>

    <link rel="stylesheet" href="../../../css/global.css" />
    <link rel="stylesheet" href="../../../public/css/b-u-y-e-r-gio-hang.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Catamaran:wght@400;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto Sans:wght@400;500;600;700&display=swap"
    />
  </head>
  <body>
    <div class="buyergiohang">
      <div class="container-2184">
        <div class="sidebar-menu-94">
          <div class="frame208">
            <b class="gi-hng4">Giỏ hàng</b>
            <img
              class="shopping-cart-icon5"
              alt=""
              src="../../../public/images/Shop/shopping-cart2.svg"
            />

            <div class="frame209">
              <div class="div97">9</div>
            </div>
          </div>
          <div class="frame210">
            <div class="lch-s-mua4">Lịch sử mua hàng</div>
            <img
              class="shopping-cart-icon5"
              alt=""
              src="../../../public/images/Shop/history.svg"
            />
          </div>
          <div class="frame211">
            <div class="lch-s-mua4">Hồ sơ của tôi</div>
            <img
              class="shopping-cart-icon5"
              alt=""
              src="../../../public/images/Shop/file-article.svg"
            />
          </div>
          <div class="frame212">
            <div class="gi-hng4">Thông báo</div>
            <img class="shopping-cart-icon5" alt="" src="../../../public/images/Shop/alarm.svg" />

            <div class="frame209">
              <div class="n5">N</div>
            </div>
          </div>
          <div class="frame214">
            <div class="lch-s-mua4">Đăng ký bán hàng</div>
            <img
              class="shopping-cart-icon5"
              alt=""
              src="../../../public/images/Shop/passenger.svg"
            />
          </div>
          <div class="frame215">
            <div class="lch-s-mua4">Đổi mật khẩu</div>
            <img class="shopping-cart-icon5" alt="" src="../../../public/images/Shop/lock3.svg" />
          </div>
          <div class="frame216">
            <div class="lch-s-mua4">Cài đặt</div>
            <img
              class="shopping-cart-icon5"
              alt=""
              src="../../../public/images/Shop/settings-gear.svg"
            />
          </div>
        </div>
        <div class="avatar-21-parent10">
          <img class="avatar-21-icon12" alt="" src="../../../public/images/Shop/avatar-21.svg" />

          <div class="xun-hunh12">Xuân Huỳnh</div>
        </div>
      </div>
      <div class="gi-hng5">Giỏ Hàng</div>
      <div class="container-1598">
        <img class="bell-12-icon16" alt="" src="../../../public/images/Shop/bell-12.svg" />

        <img
          class="chevron-down-large-428"
          alt=""
          src="../../../public/images/Shop/chevron-down-large-42.svg"
        />

        <div class="avatar-21-parent11">
          <img class="avatar-21-icon13" alt="" src="../../../public/images/Shop/avatar-21.svg" />

          <div class="xun-hunh13">Xuân Huỳnh</div>
        </div>
        <div class="textbox-418">
          <div class="tm-kim-sn8">Tìm kiếm sản phẩm</div>
          <img class="search-icon9" alt="" src="../../../public/images/Shop/search.svg" />
        </div>
        <div class="bushop-parent19">
          <b class="bushop23">BUSHOP</b>
          <img class="image-icon29" alt="" src="../../../public/images/Shop/image@2x.png" />
        </div>
        <img class="bell-12-icon17" alt="" src="../../../public/images/Shop/bell-121.svg" />
      </div>
      <div class="container-2039">
        <img class="line-47-stroke8" alt="" src="../../../public/images/Shop/line-43-stroke.svg" />

        <div class="brand-inc8">© 2024 Brand, Inc.</div>
        <div class="sitemap8">Sitemap</div>
        <div class="privacy8">Privacy</div>
        <div class="div98">•</div>
        <div class="terms8">Terms</div>
        <div class="div99">•</div>
        <div class="div100">•</div>
        <div class="textbox-518">
          <div class="ting-vit8">Tiếng việt</div>
          <img
            class="chevron-down-large16"
            alt=""
            src="../../../public/images/Shop/chevron-down-large.svg"
          />
        </div>
        <img
          class="logo-linkedin-28"
          alt=""
          src="../../../public/images/Shop/logo-linkedin-2.svg"
        />

        <img class="logo-youtube-28" alt="" src="../../../public/images/Shop/logo-youtube-2.svg" />

        <img class="logo-twitter-28" alt="" src="../../../public/images/Shop/logo-twitter-2.svg" />

        <img
          class="logo-facebook-28"
          alt=""
          src="../../../public/images/Shop/logo-facebook-2.svg"
        />

        <div class="trung-tm-tr8">Trung Tâm Trợ Giúp</div>
        <div class="chnh-sch-bo16">Chính Sách Bảo Hành</div>
        <div class="hng-dn-mua8">Hướng Dẫn Mua Sắm</div>
        <div class="thanh-ton16">Thanh Toán</div>
        <div class="vn-chuyn8">Vận Chuyển</div>
        <div class="tr-hng-v8">Trả Hàng Và Hoàn Tiền</div>
        <div class="gii-thiu-v8">Giới Thiệu Về BUSHOP</div>
        <div class="chm-sc-khch8">CHĂM SÓC KHÁCH HÀNG</div>
        <div class="v-bushop8">VỀ BUSHOP</div>
        <div class="tuyn-dng8">Tuyển Dụng</div>
        <div class="chnh-sch-bo17">Chính Sách Bảo Mật</div>
        <div class="knh-ngi-bn8">Kênh người bán</div>
        <div class="thanh-ton17">THANH TOÁN</div>
        <img class="image-132-icon8" alt="" src="../../../public/images/Shop/image-132.svg" />

        <img class="image-133-icon8" alt="" src="../../../public/images/Shop/image-133.svg" />

        <img class="image-134-icon8" alt="" src="../../../public/images/Shop/image-134.svg" />

        <img class="image-135-icon8" alt="" src="../../../public/images/Shop/image-135.svg" />

        <img
          class="container-204-icon8"
          alt=""
          src="../../../public/images/Shop/container-204.svg"
        />

        <div class="ti-app8">TẢI APP</div>
        <div class="bushop-parent20">
          <b class="bushop23">BUSHOP</b>
          <img class="image-icon29" alt="" src="../../../public/images/Shop/image@2x.png" />
        </div>
      </div>
      <div class="table-5-parent">
        <div class="table-5">
          <div class="header2">
            <div class="frame217">
              <div class="tn2">Tên</div>
            </div>
            <div class="frame218">
              <div class="loisize">Loại/Size</div>
            </div>
            <div class="frame219">
              <div class="sn-phm">Sản phẩm</div>
            </div>
            <div class="frame220">
              <div class="s-lng1">Số lượng</div>
            </div>
            <div class="frame221"></div>
            <div class="frame222"></div>
            <div class="frame223">
              <div class="gi">GIÁ</div>
            </div>
          </div>


          
          <div class="row14">
            <div class="frame224">
              <img class="image-icon31" alt="" src="../../../public/images/Shop/image@2x.png" />
            </div>
            <img class="frame-icon46" alt="" src="../../../public/images/Shop/frame9.svg" />

            <div class="frame225">
              <div class="div101">90</div>
            </div>
            <div class="frame226">
              <b class="classic-white-t-shirt">Classic White T-Shirt</b>
            </div>
            <div class="frame227">
              <div class="in-stock-for">15 in stock for 2 variants</div>
            </div>
            <div class="frame228">
              <div class="checkbox9">
                <div class="frame229">
                  <div class="rectangle42"></div>
                  <img class="frame-icon47" alt="" src="../../../public/images/Shop/frame1.svg" />
                </div>
              </div>
            </div>
            <div class="frame230">
              <div class="div102">163.000 ₫</div>
            </div>
          </div>

          <div class="checkbox-3">
            <div class="frame229">
              <div class="rectangle49"></div>
              <img class="frame-icon47" alt="" src="../../../public/images/Shop/frame1.svg" />
            </div>
          </div>
        </div>
        <div class="button-211-parent">
          <div class="button-2111">
            <div class="mua-hng">Mua hàng</div>
          </div>
          <b class="tng-tin-container">
            <span>Tổng tiền </span>
            <span class="span4">₫ 200.000.000</span>
          </b>
        </div>
      </div>
    </div>
  </body>
</html>
