<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    thong tin khach hang: <%= data.Email %>
    <div>id:  <%= data.Buyer_id %></div>
    <div>name: <%= data.Name %></div>
    <div>Gender:  <%= data.Gender %></div>
    <div>Birth: <%= data.Birth %></div>
    <div>Phone:  <%= data.Phone %></div>
    <div>Avatar: <%= data.Avatar %></div>
    <div>adress:  <%= data.Address %></div>
    <div>ward: <%= data.Ward %></div>
</body>
</html>