<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../../../public/Scripts/jquery.js"></script>
</head>
<body>
    <%= data[0].prname %>
    <div>
        <% for(var i = 0; i < data.length; i++) { %>
            <button id="<%= data[i].Classify_type_id%>" style="color: #9e9e9e;" onclick="changetype(this)"  value="<%= data[i].Pricess_sale%>"><%= data[i].Name %> - <%=data[i].clname %></button>
          <% } %> 
        <div style="display: flex;"><button id="num_dow">-</button> <input id="num_add" type="text" value="1"> <button id="num_up">+</button></div>
        <div class="price"></div>
        <button id="buy_cart">mua hàng</button>
    </div>
    <script>
        var last_call
        function changetype(node){
            if(last_call) last_call.style.color = "#9e9e9e"
            node.style.color = "black"
            last_call = node
            document.querySelector(".price").innerHTML = node.value +" VND"
        }

        const numadd = document.getElementById("num_add")
        const numup = document.getElementById("num_up")
        const numdow = document.getElementById("num_dow")
        const buycart = document.getElementById("buy_cart")
        numup.onclick = function(){
            numadd.value = parseInt(numadd.value) + 1
        }
        numdow.onclick = function(){
            if(numadd.value>=1){
                numadd.value = parseInt(numadd.value) - 1
            }
        }

        buycart.onclick = function(){
            $.ajax({
                url: '/buyer/buy',
                type: 'POST',
                data:{
                    product:mail,
                    num:pass1
                },
                success: function(data) {
                    console.log(data.success)
                    if(data.success){
                        document.querySelector(".container").innerHTML = `<div id="mail">${data.mail}</div>
                        <div >vui longf nhập otp đã gửi về mail</div>
                        <input type="text" id="OTP" name="OTP">
                        <button id="registry_otp" type="button" onclick="Check_otp()">Xác nhận</button>`
                    }else{
                        alert(data.data)
                        window.location.reload()
                    }
                }
            });
        }
    </script>
</body>
</html>